@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: #afbbd5;
    font-family: "Open Sans", sans-serif;
}

nav {
    display: flex;
    padding: 15px 30px;
    list-style: none;
    background-color: rgb(103, 125, 177);
    margin-left: 30px;
    margin-right: 30px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    font-size: 25px;
}

a {
    list-style: none;
    margin: 0 15px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(22, 22, 10);

}

h1 {
    margin-left: 1rem;
    width: 130px;
}

.name {
    background-color: rgb(212, 120, 23);
    color: rgb(235, 247, 249);
    padding-left: 50px;
    font-size: 15px;
}

.back {
    background-color: rgb(188, 204, 208);
    padding: 5px 5px;
}

.flag {
    margin-top: -20px;
    padding-left: 45px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.error {
    border: 1px solid darkred;
    padding: 1rem;
    color: rgb(116, 25, 36);
    background: rgba(255, 0, 0, 0.1);
    margin: 0 auto;
}

.results {
    display: flex;
    flex-wrap: wrap;
}

.result {
    margin: 1rem;
    padding: 1rem;
    max-width: 200px;
    background: white;
    border: 1px solid grey;
    border-radius: 1rem;
    text-decoration: none;
}

input {
    width: 60%;
    margin-top: 2px;
    padding: 8px;
    font-size: 14px;
}

button {
    background: rgb(135, 22, 56);
    border: none;
    width: 200px;
    padding: 1rem;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
}

.message {
    background: green;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

