* {
    box-sizing: border-box;
}

body {
    background: #afbbd5;
    font-family: "Open Sans", sans-serif;
}

a {
    list-style: none;
    margin: 0 15px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(22, 22, 10);
}

a:hover {
    color: rgb(194, 80, 80);
}

h1 {
    margin-left: 1rem;
    width: 110px;
}

.name {
    background-color: rgb(212, 120, 23);
    color: rgb(235, 247, 249);
    padding-left: 50px;
    font-size: 15px;
}

.back {
    background-color: rgb(188, 204, 208);
    padding: 5px 5px;
}

.flag {
    margin-top: -20px;
    padding-left: 45px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.error {
    border: 1px solid darkred;
    padding: 1rem;
    color: rgb(116, 25, 36);
    background: rgba(255, 0, 0, 0.1);
    margin: 0 auto;
}

.results, .details {
    display: flex;
    flex-wrap: wrap;
}

.result {
    margin: 1rem;
    padding: 1rem;
    max-width: 200px;
    background: white;
    border: 1px solid grey;
    border-radius: 1rem;
    text-decoration: none;
}

